{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped" >
        <thead>
        <tr>
            <th>Shop Id</th>
            <th>User Id</th>
            <th>Password</th>
        </tr>
        </thead>
        <tbody>
        {% if(shops|length == 0) %}
            <tr>
                <td colspan="3" style="text-align: center">{{ "Rocord not Found." }}</td>
            </tr>
        {% endif %}
        {% for shop in shops %}
            <tr>
                <td>{{ shop.shopId }}</td>
                <td>{{ shop.user.id }}</td>
                <td>{{ shop.shopPassword }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
