{% extends 'base.html.twig' %}

{% block body %}

    <table class="table table-striped" >
        <thead>
        <tr>
            <th>UserName</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-Mail</th>
            <th>Is valid?</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    <a href="{{ path('get_user_shops', {
                        'user_id': user.id
                    }) }}">
                        {{ user.username }}
                    </a>
                </td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname}}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.is_valid }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" style="text-align: center">{{ "Rocord not Found." }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
